# ── Servidor ──────────────────────────────
PORT=3000
NODE_ENV=development

# ── Base de datos PostgreSQL ───────────────
DB_HOST=localhost
DB_PORT=5434
DB_NAME=techfix_db
DB_USER=techfix_user
DB_PASSWORD=tu_password_aqui

# ── JWT ───────────────────────────────────
JWT_SECRET=techfix_jwt_super_secreto_2025_cambiar_en_produccion
JWT_EXPIRES_IN=8h

# ── Bcrypt ────────────────────────────────
BCRYPT_ROUNDS=12

# ── CORS ──────────────────────────────────
CORS_ORIGIN=http://localhost:5173
